

.note{
    border-bottom: 1px solid #5555;
    padding: 15px 0;
    transition: background-color 0.5s ease;
}
.note:hover{
    background: #4444;
}
.note__title{
    font-size: 20px;
    font-weight: 400;
    color: #eaeaea;
    margin: 0;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.note__title::first-letter{
    text-transform: uppercase;
}
.note__preview{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.note__list{
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}